<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdjhaha.vocab.login.mapper.LoginUserMapper">

	<select id="selectData" parameterType="hashMap"
		resultType="hashMap">
		select username,
		         nickname,
		         password,
		         enabled
		  from users
		  where username=#{username}
	</select>
	
	<select id="selectDataByNickname" parameterType="hashMap"
		resultType="hashMap">
		select username,
		         nickname,
		         password,
		         enabled
		  from users
		  where nickname=#{nickname}
	</select>
	
	<insert id="insertData" parameterType="hashMap">
		insert into users(username, nickname, password, enabled) values(#{username},#{nickname}, #{password}, 1)
	</insert>
</mapper>  