<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdjhaha.vocab.vocab.mapper.VocabGroupMapper">

	<select id="selectData" parameterType="hashMap"
		resultType="hashMap">
		select
			vg.group_code,
			vg.group_name,
			ifnull(vgm.vocab_count,0) as vocab_count,
			vg.username,
			vqr.study_count,
			DATE_FORMAT(vqr.update_datetime, '%Y-%m-%d %H:%i:%s') as update_datetime
		from
			voca_group vg
		left outer join (
			select
				group_code,
				count(group_code) as vocab_count,
				username
			from
				vocab_group_mapping
			group by
				group_code,
				username) vgm on
			vgm.group_code = vg.group_code
			left outer join (
				select
					max(id) as id,
					count(group_code) as study_count,
					group_code,
					update_datetime
				from
					vocab_question_result
				where
					username = 'jdjhaha'
					<if test='groupCode != null'>
						and group_code = #{groupCode}
					</if>
				group by
					group_code
				order by
					max(id) desc ) vqr on
			vg.group_code = vqr.group_code
		where
			vg.username = #{username}
			<if test='groupCode != null'>
				and vg.group_code = #{groupCode}
			</if>
		order by
			vg.group_code desc
	</select>
	
	<insert id="insertData" parameterType="hashMap">
		insert into voca_group(group_name, username) values(#{group_name},#{username})
	</insert>
	
	<delete id="deleteData" parameterType="hashMap">
    	delete
    	  from voca_group
    	  where  group_code=#{group_code}
    	      and username=#{username}
    </delete>
</mapper>  