<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdjhaha.vocab.vocab.mapper.VocabAttentionMapper">
	<!-- 
CREATE TABLE `vocab_attention` (
  `vocab_id` bigint(20) NOT NULL,
  `vocab` varchar(100) DEFAULT NULL,
  `mean` varchar(100) DEFAULT NULL,
  `wrong_count` int(11) DEFAULT NULL,
  `username` varchar(100) NOT NULL,
  PRIMARY KEY (`vocab_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	 -->
	<select id="selectData" parameterType="hashMap"
		resultType="hashMap">
		select
			vocab_id,
			vocab,
			mean,
			wrong_count
		from
			vocab_attention
		where
			1=1
			<if test='vocab_id !=null and !vocab_id.equals("")'>
			and vocab_id=#{vocab_id}
			</if>
			and username=#{username}
	</select>
	
	<insert id="insertData" parameterType="hashMap" >
		insert into vocab_attention (
			vocab_id,
			vocab,
			mean,
			wrong_count,
			username
		)
		values(
			#{vocab_id},
			#{vocab},
			#{mean},
			1,
			#{username}
		)
	</insert>
	<update id="updateData" parameterType="hashMap">
		update vocab_attention
		set
			wrong_count = #{wrong_count}
		where
			vocab_id = #{vocab_id}
			and username=#{username}
	</update>
	
</mapper>  