<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdjhaha.vocab.vocab.mapper.VocabQuestionResultHistoryMapper">

	<select id="selectData" parameterType="hashMap"
		resultType="hashMap">
		SELECT 
			id, 
			vocab_question_result_id, 
			group_code, 
			question_type, 
			question_value, 
			vocab_id, 
			vocab, 
			mean, 
			answer_vocab_id, 
			answer_vocab, 
			answer_mean, 
			result_flag, 
			regist_datetime, 
			username
		FROM vocab_question_result_history
		WHERE
			username = #{username}
			<if test='group_code !=null and !group_code.equals("")'>
				and group_code = #{group_code}
			</if>
			<if test='id !=null and !id.equals("")'>
				and id = #{id}
			</if>
	</select>
	
	<insert id="insertData" parameterType="hashMap">
		INSERT INTO vocab_question_result_history
		(
			vocab_question_result_id, 
			group_code, 
			question_type, 
			question_value, 
			vocab_id, 
			vocab, 
			mean, 
			answer_vocab_id, 
			answer_vocab, 
			answer_mean, 
			result_flag, 
			regist_datetime, 
			username
		)
		VALUES
		(
			#{vocab_question_result_id}, 
			#{group_code}, 
			#{question_type}, 
			#{question_value}, 
			#{vocab_id}, 
			#{vocab}, 
			#{mean}, 
			#{answer_vocab_id}, 
			#{answer_vocab}, 
			#{answer_mean}, 
			#{result_flag}, 
			now(), 
			#{username}
		)
	</insert>
	
	<delete id="deleteData" parameterType="hashMap">
		DELETE FROM vocab_question_result_history
		WHERE
			username = #{username}
			<if test='group_code !=null and !group_code.equals("")'>
				and group_code = #{group_code}
			</if>
			<if test='id !=null and !id.equals("")'>
				and id = #{id}
			</if>
    </delete>
</mapper>  