<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdjhaha.vocab.vocab.mapper.VocabAttentionMappingMapper">
	<!-- 
CREATE TABLE `vocab_attention_mapping` (
  `vocab_id` bigint(20) NOT NULL,
  `vocab_question_result_id` bigint(20) NOT NULL,
  `vocab_question_result_history_id` bigint(20) NOT NULL,
  PRIMARY KEY (`vocab_id`,`vocab_question_result_id`,`vocab_question_result_history_id`),
  KEY `vocab_attention_mapping_vocab_id_IDX` (`vocab_id`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
	 -->
	<insert id="insertData" parameterType="hashMap" >
		insert into	vocab_attention_mapping (
			vocab_id,
			username,
			vocab_question_result_id,
			vocab_question_result_history_id
		)
		values(
			#{vocab_id},
			#{username},
			#{vocab_question_result_id},
			#{vocab_question_result_history_id}
		)
	</insert>
	
	<select id="selectData" parameterType="hashMap"
		resultType="hashMap">
		select
			vqr.group_name,
			vqr.round,
			vqr.question_type_code,
			vam.vocab_question_result_history_id,
			vqrh.answer_vocab,
			vqrh.answer_mean,
			vqrh.result_flag,
			DATE_FORMAT(vqrh.regist_datetime , '%Y-%m-%d %H:%i:%s') as regist_datetime
		from
			vocab_attention va,
			vocab_attention_mapping vam,
			vocab_question_result vqr,
			vocab_question_result_history vqrh
		where
			va.vocab_id = #{vocab_id}
			and va.username = #{username}
			and va.vocab_id = vam.vocab_id
			and vam.username =#{username}
			and vam.vocab_question_result_id = vqr.id
			and vam.vocab_question_result_history_id = vqrh.id
	</select>
</mapper>  