<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdjhaha.vocab.vocab.mapper.VocabGroupMapper">

	<select id="selectData" parameterType="hashMap"
		resultType="hashMap">
		select 
				group_code,
				group_name,
				username
		from voca_group
		where 
		        username=#{username}
		order by group_code desc
	</select>
	
	<insert id="insertData" parameterType="hashMap">
		insert into voca_group(group_name, username) values(#{group_name},#{username})
	</insert>
	
	<delete id="deleteData" parameterType="hashMap">
    	delete
    	  from voca_group
    	  where  group_code=#{group_code}
    	      and username=#{username}
    </delete>
</mapper>  