<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdjhaha.vocab.vocab.mapper.VocabQuestionResultMapper">
	
	<select id="selectData" parameterType="hashMap"
		resultType="hashMap">
		SELECT 
			id, 
			group_code, 
			group_name, 
			vocab_count, 
			answer_count,
			wrong_answer_count, 
			complete_flag, 
			DATE_FORMAT(regist_datetime, '%Y-%m-%d %H:%i:%s') as regist_datetime,
			DATE_FORMAT(update_datetime, '%Y-%m-%d %H:%i:%s') as update_datetime,
			username,
			study_time_seconds
		FROM 
			vocab_question_result
		WHERE
			username = #{username}
			<if test='groupCode !=null and !groupCode.equals("")'>
				and group_code = #{groupCode}
			</if>
			<if test='id !=null and !id.equals("")'>
				and id = #{id}
			</if>
		ORDER BY update_datetime asc
	</select>
	
	<select id="selectGroupByData" parameterType="hashMap"
		resultType="hashMap">
		select
			vqr.group_code,
			vqr.group_name,
			vqr.vocab_count,
			max_vqr.study_count,
			DATE_FORMAT(vqr.update_datetime, '%Y-%m-%d %H:%i:%s') as update_datetime
		from
			vocab_question_result vqr,
			(
			select
				max(id) as id,
				count(group_code) as study_count
			from
				vocab_question_result
			where
				username = #{username}
			group by
				group_code
			order by
				max(id) desc ) max_vqr
		where
			vqr.id = max_vqr.id
		order by vqr.id desc
	</select>
	
	<insert id="insertData" parameterType="hashMap">
	INSERT INTO vocab_question_result
		(
			group_code, 
			group_name, 
			vocab_count, 
			answer_count, 
			wrong_answer_count,
			complete_flag, 
			regist_datetime, 
			update_datetime, 
			username,
			study_time_seconds
		)
	VALUES(
			#{group_code}, 
			#{group_name}, 
			#{vocab_count}, 
			0, 
			0, 
			'F', 
			now(), 
			now(), 
			#{username},
			#{study_time_seconds}
		)
	</insert>
	
	<insert id="insertData2"
	parameterType="com.jdjhaha.vocab.vocab.vo.VocabQuestionResultVO"
	useGeneratedKeys="true" keyProperty="id">
	INSERT INTO vocab_question_result
	(
		group_code,
		group_name,
		vocab_count,
		answer_count,
		wrong_answer_count,
		complete_flag,
		regist_datetime,
		update_datetime,
		username,
		study_time_seconds
	)
	VALUES(
		#{group_code},
		#{group_name},
		#{vocab_count},
		0,
		0,
		'F',
		now(),
		now(),
		#{username},
		#{study_time_seconds}
	)
	</insert>
	
	<update id="updateData" parameterType="hashMap">
		UPDATE vocab_question_result
		SET 
			answer_count=#{answer_count},
			wrong_answer_count=#{wrong_answer_count},
			complete_flag=#{complete_flag},
			update_datetime=now(),
			study_time_seconds=#{study_time_seconds}
		WHERE id=#{id}
		    and username =#{username}
				
	</update>
	
	<delete id="deleteData" parameterType="hashMap">
	DELETE FROM voca_study.vocab_question_result
	WHERE 
		username = #{username}
		<if test='group_code !=null and !group_code.equals("")'>
			and group_code = #{group_code}
		</if>
		<if test='id !=null and !id.equals("")'>
			and id = #{id}
		</if>
    </delete>
</mapper>  